h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Begin top menu style */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    display: inline-block;
    padding: 10px;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
}

/* Change the link color to #111 (black) on hover */
li.menu a:hover {
    background-color: #111;
}
/* End top menu style */


img.flip {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

/* Start mid block style */
#yellow {
    background-color: #e2ac4e;
}

#green {
    background-color: #78913d;
}

#orange {
    background-color: #f98e22;
}

#purple {
    background-color: #6d4272;
}
/* End mid block style */